body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 900px;
  margin: 0 auto;
  padding-top: 30px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
  background-color: #CFD8DC;
}

#app-body {
  max-width: 900px;
  min-height: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #FFFFFF;
}

#side-bar {
  margin: 0 auto;
  min-width: 100px;
	max-width: 800px;
  min-height: 100px;
  padding: 10px;
  border-color: #42434D;
  border: 1px solid #42434D;
  border-radius: 5px;
  background-color: #FFFFFF;}

h1 {
  color: #00695C;
  text-align: center;
  font-size: 2.5em;
}

h2 {
  color: #00695C;
  font-size: 2em;
}

h3 {
  color: #00695C;
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: #09f;
}

